{% extends "base.html" %}


{% block title %}
    <h1 class='text-3xl font-bold'> CNN Model </h1>
{% endblock %}

{% block content %}

   <div class='flex flex-col gap-4 justify-between items-center'>
    <p >
    This web application utilizes a powerful Convolutional Neural Network (CNN) model that has been trained on the CIFAR-10 dataset to classify images into 10 different categories.
        These categories include airplanes, cars, birds, cats, deer, dogs, frogs, horses, ships, and trucks. With an impressive test accuracy score of 97.16%, this model was built using Xception convolutional base, which is known for its high performance in image recognition tasks.
    </p>
    <p>
    To enhance the training data, the network employs a technique called Data Augmentation.
        This strategy significantly increases the amount of data available for training models without the need to collect new data.
        Techniques such as trimming, filling, and horizontal reflection are used to augment the training data, ensuring that the model is robust to variations in image orientation and lighting conditions.
    </p>
    <p>
    Furthermore, the network uses Batch Normalization to improve the speed, performance, and stability of the artificial neural network.
        This technique normalizes the input layer by re-centering and scaling the image, making it easier for the network to learn patterns in the data.
    </p>
    <p>
    The model was trained using the Keras deep learning library on a GPU-enabled machine, allowing for efficient training and faster convergence. Overall, this web application provides an accurate and reliable image classification service that can be used for a variety of applications, from object recognition in self-driving cars to identifying species in wildlife conservation.
    </p>
   </div>




{% endblock %}


