{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

        <h2 class="text-3xl font-bold text-center">History</h2>

{% endblock %}

{% block content %}

    <div class="container flex flex-wrap items-center justify-center w-full p-4 gap-5">

        {% for image in images %}
            {% include 'includes/image.html' %}
        {% endfor %}
    </div>

    {% if images|length > 7 %}
        {% include 'includes/buttons.html' %}
    {% endif %}

          <!-- The Modal -->
    <div id="modal"
        class="hidden fixed top-0 left-0 z-20 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a class="fixed z-30 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a>

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover"  alt="" src=""/>
    </div>

    <script>
        // Get the modal by id
        var modal = document.getElementById("modal");

        // Get the modal image tag
        var modalImg = document.getElementById("modal-img");

        // this function is called when a small image is clicked
        function showModal(src) {
            modal.classList.remove('hidden');
            modalImg.src = src;
        }

        // this function is called when the close button is clicked
        function closeModal() {
            modal.classList.add('hidden');
        }
    </script>


    {% endblock %}