  <div class="flex items-center justify-between px-10 mb-4">
        <form method="post" action="{% url 'cifar_10:clear_history' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="text-white px-5 py-2 mt-5 border shadow rounded-lg bg-[#012210b3] hover:bg-green-900" >
          Clear History
        </button>
    </form>

<form method="post" action="{% url 'cifar_10:show_all_history' %}">
    {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
            <button  id="spoiler"  type="submit" class=" show_all_btn text-white px-5 py-2 mt-5 border shadow rounded-lg bg-[#012210b3] hover:bg-green-900" >
          Show all
        </button>
</form>
    </div>