{% load static %}<!doctype html>
{% load static tailwind_tags %}
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
 <head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'images/favicon-3.png' %}">
      <title>NAAI</title>
     {% load static %}
      {% tailwind_css %}
     <style>
         input[type=file]::file-selector-button {
              margin-right: 20px;
              border: none;
              background: #012210b3;
              padding: 10px 20px;
              border-radius: 10px;
              color: #fff;
              cursor: pointer;
              transition: background .2s ease-in-out;
            }

        input[type=file]::file-selector-button:hover {
              background: #012210c4
        }
     </style>
  </head>
  <body class="h-full text-bg-gray-600  dark:text-gray-50 bg-gradient-to-br dark:from-[#012210] dark:to-[#009c4c] from-[#9dc9b3] to-white overflow-hidden">
    <div class="min-h-screen overflow-auto  ">
          <!--    NAVIGATION-->
  {% include "includes/navigation.html" %}
 {% include 'includes/footer.html' %}

   <div class="mx-auto px-4 absolute top-20 left-0 right-8 bottom-14  w-full overflow-hidden ">
         <!--    HEADER-->
      <header class="container m-auto flex relative flex justify-center items-center my-5 ">
            {% block header %}{% endblock %}
                {% block title %}{% endblock %}
        <div class="flex flex-col absolute right-10 top-1">
            {% include 'includes/messages.html' %}
        </div>
      </header>

    <!--    DASHBOARD-->
      <main class="container m-auto h-full max-h-screen overflow-auto pb-56  ">

          {% block content %}{% endblock %}

      </main>
   </div>
</div>

  <script  type="module" src="{% static 'js/app.js' %}"></script>

  </body>
</html>